:root {
    --white: #fff;
    --uh-black: #222;
    --uh-darker-gray: #2d2d2d;
    --uh-dark-gray: #454545;
    --uh-gray: #676767;
    --uh-light-gray: #e7e7e7;
    --uh-lighter-gray: #f2f2f2;

    --uh-system: #b3995d;
    --uh-system-shade: #a5875c;
    --uh-system-dark: #907139;
    --uh-system-50: #d6c9b6;
    --uh-system-30: #e7ded3;
    --uh-system-20: #efe9e2;
    --uh-system-12: #f5f2ed;

    --uh-manoa: #024731;
    --uh-hilo: #DA291C;
    --uh-west-oahu: #a71930;
    --hawaii-cc: #91004b;
    --honolulu-cc: #007b85;
    --kapiolani-cc: #002395;
    --kauai-cc: #716fb3;
    --leeward-cc: #3d7edb;
    --uh-maui-college: #005172;
    --windward-cc: #7ab800;

    --primary: var(--blue);
    --secondary: var(--uh-gray);
    --light: var(--uh-light-gray);
    --success: var(--green);
    --info: var(--uh-system-dark);
    --warning: var(--yellow);
    --danger: var(--red);
    --muted: var(--gray);

    --red: #b24b66;
    --red-shade: #9a3f58;
    --green: #5f7b3f;
    --green-shade: #4f6736;
    --purple: #735e7c;
    --purple-shade: #64496a;
    --blue: #007d95;
    --blue-shade: #00677b;
    --teal: #118080;
    --teal-shade: #0f7374;

    --link-blue: #00748a;
    --orange: #ea5a4f;
    --orange-shade: #d04f45;
    --yellow: #ffd969;

/*
    --xs-max: 575.4px;
    --sm-min: 576px;
    --sm-max: 767.4px;
    --md-min: 768px;
    --md-max: 991.4px;
    --lg-min: 992px;
    --lg-max: 1199.4px;
    --lx-min: 1200px; */
}